::-webkit-scrollbar{
   Display: none ;
   }

*{
   margin: 0;
   padding: 0; 
   
}

#search_bar{
border-radius: 15px;
}

#search_bar>input{
width: 45vw;
border: none;
padding: 10px;
background-color: transparent;
}

#hero-section{
   display: flex;
   justify-content: center;
}

#category-section{
   display: flex;
   flex-wrap: wrap;
   width: 85vw;
   justify-content: center;
   margin: auto;
}

.scorllable-div{
   width: 80vw;
   margin: auto;
   overflow: hidden;
}

.list{
   white-space:nowrap;
   overflow-x: scroll;
}

.my-card{
   width: 180px;
   margin-right: 20px;
   display: inline-block !important;
}

.my-card>img{
   margin: auto;
}

.time-taken{
   font-size: 10px;
   background-color:#f8f8f8;
   font-weight: 700;
   width: fit-content;
   padding:2px 5px;
   border-radius: 5px;
}

.product-name{
   margin-top: 5px;
   font-size: 14px;
   font-weight: 600;
}

.product-weight{
   font-size: 14px;
   color: gray;
   margin-top: 10px;
}

.product-price{
   margin: 0;
   padding: 0 !important;
   font-weight: 600;
}

footer{
   width: 85vw;
   margin: auto;
}

#footer_3{
   font-size: 14px;
   color: rgb(102,102,102);
   line-height: 18px;
   margin: 12px;
}

#footer_2{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#social-icons{
   display: flex;
   gap: 10px;
}

.social-icons{
   width: 50px;
   height: 50px;
   display: flex;
   background-color: black;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 25px;
}

#downloads{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

#footer_2>p{
   width: 40%;
   font-size: 14px;
   color: rgb(102,102,102);
   line-height: 18px;
   margin: 12px;
}

#footer_1{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   margin-top: 50px;
}

#useful-link{
   flex: 2;
}

#categories-link{
   flex: 3;
}

table{
   width: 100%;
}

td{
   font-weight: 400;
   line-height: 2;
   color: #212529;
}

@media screen and (max-width:500px) {
   #hero-section{
       display: none;
   }
   nav{
       flex-direction: column;
   }
   #delivery-div{
       border: none !important;
   }

   #search_bar{
       display: flex;
       align-items: center;
   }
   #search_bar>input{
       width: 80vw;
   }

   .scorllable-div{
       margin-top: 50px;
   }

   #footer_3{
      width: 90%;
      text-align: justify;
   }

   #footer_2{
      flex-direction: column;
   }

   #footer_2>p{
      width: 100%;
      text-align: justify;
   }

   #social-icons{
      margin-top: 20px;
   }

   #footer_1{
      flex-direction: column;
      align-items: center;
   }

   #useful-link{
      width: 100%;
   }

   #categories-link{
      width: 100%;
   }

   td{
   text-align: center;
   line-height: 2;
   gap: 10px;
   }
}
